# IDEs
.idea
.DS_Store
.vscode

# Build Dirs
node_modules
env
bower_components

# other
*.db

# Python + Serverless directories
.serverless/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg


# npm garbage
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/node_modules
/.pnp
.pnp.js
/coverage

.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# my super-secret key
home-server/super_secret.js