body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #18181b;
}

@font-face {
  font-family: "Twitchy";
  src:
    url("fonts/TwitchyTV.otf") format("opentype"), /* Open Type Font */
    url("fonts/TwitchyTV.svg") format("svg"), /* Legacy iOS */
    url("fonts/TwitchyTV.ttf") format("truetype"), /* Safari, Android, iOS */
    url("fonts/TwitchyTV.woff") format("woff"), /* Modern Browsers */
    url("fonts/TwitchyTV.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1400px;
}


.btn-primary {
  background-color: #9147ff;
  border-color: #9147ff;
}

.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  background-color: #9147ff;
  border-color: #9147ff;
}

.btn-outline-primary {
  color: #fff;
  border-color: #9147ff;
}

.btn-outline-primary:hover, .btn-outline-primary:not(:disabled):not(.disabled):active,
  .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #9147ff;
  border-color: #9147ff;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(110, 0, 255, 0.5);
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(110, 0, 255, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #9147ff;
  background-color: transparent;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(110, 0, 255, 0.5);
}
.btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
  color: #fff;
  background-color: #9147ff;
  border-color: #9147ff;
}