.well {
    background-color: #202020;
    height: 480px;
}

.button-div {
    text-align: center;
}

.button-div button {
    margin: 0 8px;
}

.modal-content {
    background-color: #202020;
    color: #f5efff;
}

.modal-header {
    border-bottom-color: transparent;
    font-family: 'Twitchy', serif;
    text-shadow: 3px 3px 1px #9147ff;
}

.modal-header button {
    color: white;
}

.modal-footer {
    border-top-color: transparent;
}

.emphasis {
    font-weight: bold;
}

.twitch-embedder {
    margin-bottom: 24px;
}

.home-section {
    height: 480px;
    font-size: 1.2rem;
    padding: 24px;
}

.home-section:nth-child(even) {
    background-color: #101011;
}


.home-section span {
    color: #b17cff;
    border: 1px solid #9147ff;
    padding: 1px 3px;
    font-weight: bold;
}

span.fa {
    border: none;
    color: white;
}


.home-section img {
    width: 100%;
}

.home-section .container-lg {
    height: 100%;
}

#homepage-controller {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

#homepage-controller button {
    margin-top: 8px;
}