.play-div {
    background-color: #101213;
    margin-left: 0;
    margin-right: 0;

    height: 480px;
}

#presenter {
    height: 480px;
}

.players-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-height: 100%;
    align-items: center;
    color: white;
}

.player-div {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #6c757d;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Twitchy, serif;
    color: white;
    text-align: center;
}

.player-div span {
    position: absolute;
    bottom: 0;
    top: -22px;
}

.player-div video {
    /*display: none;*/
    border-radius: 50%;
    position: absolute;
    width: 150px;
    height: 150px;
}

.player-div svg {
    left: 0;
}

.player-div .gamepad-background {
    width: 80%;
    margin: auto;
}

.play-left-div {
    display: flex;
    justify-content: center;
    align-items: center;
}