.centered {
    display: flex;
    width: 50%;
    height: 50vh;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.header {
    background-color: #5f3a98;
    text-align: center;
    font-family: 'Twitchy', serif;
    text-shadow: 3px 3px 1px #9147ff;
    margin: auto;
    padding: 16px;
    width: 300px;
}


.header h3 {
    position: relative;
    top: -5px;
}

.queue-div {
    background-color: #18181b;
    margin-left: 0;
    margin-right: 0;
}

.queue-div .twitch-embedder {
    background-color: #18181b;
}

.queue-twitch-container {
    width: 100%;
}

.gamepad-div {
    display: flex;
    box-sizing: border-box;
    padding: 0;
    color: white;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.gamepad-selection {
    text-align: center;
}


#join-prompt {
    position: absolute;
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9147ff;
    border-radius: 50%;
    flex-direction: column;
    font-family: 'Twitchy', serif;
}

.loading {
    position: absolute;
    left: 50%;
    top: 50%;
}