.twitch-embedder {
    display: flex;
    justify-content: center;
    background-color: #000;
    align-items: center;
    height: calc(100vh - 80px);
}

#twitchWindow {
    width: 100%;
    height: calc(100vh - 80px);
}